/* Portfolio styles */
body {
    background-color: #f4f3f3;
}


.content h1 {
    color: black
}
#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #c7b9b9;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #000000;
}

#portfolio a {
  text-decoration: none;
  color: #000000;
}