body {
  margin: 0px;
}

canvas {
  background-color: transparent;
  margin: 20px;
}

img {
  display: none;
}
body {
    background-image: url("https://i.pinimg.com/originals/cf/c6/0a/cfc60a9bda0f084921eb81605c516aa1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* ...other styles... */
}